# Key Python syntax: indexing

In this notebook we cover some key <tt>Pandas</tt> syntax and functions:

* Syntax for **indexing** a dataframe - finding the rows and columns that you need

**Indexing** is something you will do every single time you write code for data analysis. Incorrect syntax in indexing is the number one biggest source of bugs for student on this course, so it is well worth spending the time to get to grips with it.

## Set up Python Libraries

As usual you will need to run this code block to import the relevant Python libraries

In [1]:
# Set-up Python libraries - you need to run this but you don't need to change it
import numpy as np
import matplotlib.pyplot as plt
import scipy.stats as stats
import pandas 
import seaborn as sns
import statsmodels.api as sm
import statsmodels.formula.api as smf

## Import a dataset to work with

You will need to download the file OxfordWeather.csv from Canvas to your computer, then import it

In [2]:
weather = pandas.read_csv("https://raw.githubusercontent.com/jillxoreilly/StatsCourseBook/main/data/OxfordWeather.csv")
display(weather)

       YYYY  MM  DD  Tmax  Tmin  Tmean  Trange  Rainfall_mm
0      1827   1   1   8.3   5.6    7.0     2.7          0.0
1      1827   1   2   2.2   0.0    1.1     2.2          0.0
2      1827   1   3  -2.2  -8.3   -5.3     6.1          9.7
3      1827   1   4  -1.7  -7.8   -4.8     6.1          0.0
4      1827   1   5   0.0 -10.6   -5.3    10.6          0.0
...     ...  ..  ..   ...   ...    ...     ...          ...
71338  2022   4  26  15.2   4.1    9.7    11.1          0.0
71339  2022   4  27  10.7   2.6    6.7     8.1          0.0
71340  2022   4  28  12.7   3.9    8.3     8.8          0.0
71341  2022   4  29  11.7   6.7    9.2     5.0          0.0
71342  2022   4  30  17.6   1.0    9.3    16.6          0.0

[71343 rows x 8 columns]

## Get descriptive statistics

We will look at indexing in the context of getting descriptive statistics for the different variables in a dataframe, and/or for a selection of rows.

We have seen a number of functions to get descriptive statistics:
    
- `df.mean()`   -  gets the mean
- `df.median()` - gets the median
- `df.var()` - gets the variance
- `df.std()` - gets the standard deviation
- `df.min()` - gets the minimum value
- `df.max()` - gets the maximum value

in the function names above, `df` is just a placeholder for "dataframe" 

You can replace `df` with the name of your dataframe (in which case you will get a table with the descriptive statistic you asked for, for every column containing numerical data)

In [3]:
weather.mean()

YYYY           1924.165174
MM                6.516210
DD               15.729154
Tmax             13.890153
Tmin              6.156018
Tmean            10.046208
Trange            7.734244
Rainfall_mm       1.786964
dtype: float64

Which columns from the dataframe are missing from the table of means?
* Month is missing because the values are strings (words); we only get the mean for numerical columns

## Decriptives for a single column

Format:
- `df.column.mean()`

You might just want the mean for one column, in which case you can include the column name as follows:

In [5]:
weather.Tmax.mean()

13.890153065515065

Instead of a whole table of means, many of which were irrelevant, we now just have the single number we wanted - the mean of <tt>Tmax</tt>

* *Think* check that the value obtained this way matches the one in the table above.

#### Why does it work?

The commmand `weather.Tmax.mean()` has two steps.

**Step 1:**

The syntax `weather.Tmax` (or more generally, `df.column`) returns just the one column of the dataframe as a <tt>series</tt> (essentially a one-column table).

Look:

In [14]:
weather.Tmax

0         8.3
1         2.2
2        -2.2
3        -1.7
4         0.0
         ...
71338    15.2
71339    10.7
71340    12.7
71341    11.7
71342    17.6
Name: Tmax, Length: 71343, dtype: float64

If we liked, we could give this single-column series a name a 'save' it:

In [50]:
DailyMaxima  = weather.Tmax
print(DailyMaxima)

0         8.3
1         2.2
2        -2.2
3        -1.7
4         0.0
         ...
71338    15.2
71339    10.7
71340    12.7
71341    11.7
71342    17.6
Name: Tmax, Length: 71343, dtype: float64

However, we don't need to do that as we can just tack the `.mean()` function onto it directly as follows:

**Step 2:**

The syntax `.mean()` gets the mean of the thing before the dot (i.e. the series you created with the command `weather.Tmax`)

In [13]:
weather.Tmax.mean()

0         8.3
1         2.2
2        -2.2
3        -1.7
4         0.0
         ...
71338    15.2
71339    10.7
71340    12.7
71341    11.7
71342    17.6
Name: Tmax, Length: 71343, dtype: float64

### Exercises

Complete the following quick practice questions:

In [15]:
# get the mean daily rainfall

In [16]:
# get the median daily rainfall

In [17]:
# get the standard deviation of the maximum daily temperature

In [18]:
# find the minimum value of "year" (you will need two separate commands)

## Get descriptives for a subset of rows

- `df.query('columnname == number')`
- `df.query('columnname == "string"')`
- `df.query('columnname1 == value1 and columnname2 == value2')`


Say I want to know the mean daily maximum temperatures for the year 1921.

#### Step 1: find the relevant rows

I first need to somehow pull out the rows of the table where the value for <tt>YYYY</tt> is <tt>1921</tt>
    
I can do this using the function `df.query`, for example <tt>weather.query('YYYY == 1921')</tt>
   * **note** the quote marks surrounding the whole query
   * **note** the double equals sign `==`, which is used for *checking* if two bvalues are equal (as opposed to setting a value)

In [58]:
# get all the rows where year is 1921
weather.loc[weather.YYYY == 1921]

       YYYY  MM  DD  Tmax  Tmin  Tmean  Trange  Rainfall_mm
34333  1921   1   1  12.2   7.1    9.7     5.1          9.7
34334  1921   1   2  11.9   8.7   10.3     3.2          6.1
34335  1921   1   3   9.9   5.9    7.9     4.0          0.0
34336  1921   1   4  12.3   9.8   11.1     2.5          5.5
34337  1921   1   5  11.4   6.5    9.0     4.9          0.0
...     ...  ..  ..   ...   ...    ...     ...          ...
34693  1921  12  27  11.2   5.4    8.3     5.8          1.3
34694  1921  12  28  13.9   3.9    8.9    10.0          0.0
34695  1921  12  29   7.6   1.7    4.7     5.9          0.8
34696  1921  12  30  11.7   1.9    6.8     9.8          4.5
34697  1921  12  31   9.1   3.3    6.2     5.8          0.0

[365 rows x 8 columns]

Note the size of this table - there are 365 rows. Why?
* In the original table `weather`, there is one row per day
* 365 of those rows (days) match the criterion 'YYYY = 1921' because there are 365 days in a year.

If I wanted to, I could give this table a name and 'save' it for later use:

In [51]:
weather1921 = weather.query('YYYY == 1921') # create a new daataframe for just 1921
weather1921 # look at my new dataframe

       YYYY  MM  DD  Tmax  Tmin  Tmean  Trange  Rainfall_mm
34333  1921   1   1  12.2   7.1    9.7     5.1          9.7
34334  1921   1   2  11.9   8.7   10.3     3.2          6.1
34335  1921   1   3   9.9   5.9    7.9     4.0          0.0
34336  1921   1   4  12.3   9.8   11.1     2.5          5.5
34337  1921   1   5  11.4   6.5    9.0     4.9          0.0
...     ...  ..  ..   ...   ...    ...     ...          ...
34693  1921  12  27  11.2   5.4    8.3     5.8          1.3
34694  1921  12  28  13.9   3.9    8.9    10.0          0.0
34695  1921  12  29   7.6   1.7    4.7     5.9          0.8
34696  1921  12  30  11.7   1.9    6.8     9.8          4.5
34697  1921  12  31   9.1   3.3    6.2     5.8          0.0

[365 rows x 8 columns]

... but I don't need to do this as I can tack on more commands to complete my goal in a single line of code.

#### Step 2: find the relevant column

Now that I have grabbed the relevant rows, I narrow it down to column <tt>Tmax</tt>

In [24]:
weather.query('YYYY == 1920').Tmax

33967     3.2
33968     4.5
33969     3.7
33970     3.7
33971     4.5
         ...
34328    11.9
34329    12.3
34330    12.4
34331    12.1
34332    13.2
Name: Tmax, Length: 366, dtype: float64

#### Step 4: add in the actual function

FInally, I can tack on teh function I want to run on my selected rows and column: `mean()`:

In [36]:
weather.query('YYYY == 1920').Tmax.mean()

13.701092896174865

### Exercises

Complete the following quick practice questions:

In [ ]:
# Get the mean daily maximum temperature in 2006

In [ ]:
# Get the mean daily minimum temperature in 1947

## Get descriptives for one category

What about getting the mean daily maximum temperatures for, say, October? So I need to pull out all the rows in which <tt>'MM'</tt> matches <tt>'October'</tt>

The syntax is very similar, but now I am matching a string `"October"`, so it needs to be in quotes:

In [27]:
weather.query('MM == "October"').Tmax.mean()

nan

* **note** you can actually use single and double quotes interchangeably in Python, but in cases like this where you have quotes within quotes, it is better to use both types to avoid the computer getting confused about which opening and closing quotes to pair up.

so you could do either of these

- weather.query('MM == "October"').Tmax.mean()
- weather.query("MM == 'October'").Tmax.mean()

but not these

- weather.query('MM == 'October'').Tmax.mean()
- weather.query("MM == 'October'").Tmax.mean()

### Exercises

Complete the following quick practice questions:

In [ ]:
# Get the mean daily rainfall in January

In [ ]:
# Get the mean daily rainfall in June

## Match multiple conditions

What if I want to know the mean daily maximum temperature in 1920 for June only?

We can simply use `and` or `&` to pass `df.query()` multiple conditions:

In [40]:
# mean daily maximumm temperature in 1920
weather.query('YYYY == 1920').Tmax.mean()

13.701092896174865

In [39]:
# mean daily maximumm temperature in 1920
weather.query('YYYY == 1920 & MM == 6').Tmax.mean()

19.553333333333335

* **Think** hopefully the value for June is higher than the avergae for the whole year? If not something has gone wrong!

### Exercises

Complete the following quick practice questions:

In [ ]:
# Get the mean daily rainfall in June 2007

In [ ]:
# Get the minimum temperature in January 1947

## Tables of descriptive statistics

When you are writing a report on a dataset you might like to generate a nice table with the descriptive statistics that you need all together in one place|

There are a couple of ways to do this

### Quick look

- `df.describe()`

We can output a standard set of descriptives for all the numerical columns in the dataframe by just using `df.describe()`

In [41]:
weather.describe()

,YYYY,MM,DD,Tmax,Tmin,Tmean,Trange,Rainfall_mm
count,71343.000000,71343.000000,71343.000000,71342.000000,71341.000000,71341.000000,71338.000000,71343.000000
mean,1924.165174,6.516210,15.729154,13.890153,6.156018,10.046208,7.734244,1.786964
std,56.387642,3.450063,8.799927,6.490258,5.235341,5.632085,3.513996,3.976377
min,1827.000000,1.000000,1.000000,-9.600000,-17.800000,-12.100000,0.000000,0.000000
25%,1875.000000,4.000000,8.000000,9.200000,2.200000,5.900000,5.200000,0.000000
50%,1924.000000,7.000000,16.000000,13.700000,6.400000,10.100000,7.400000,0.000000
75%,1973.000000,10.000000,23.000000,18.900000,10.200000,14.500000,10.000000,1.700000
max,2022.000000,12.000000,31.000000,36.500000,21.200000,27.400000,23.100000,87.900000

* **note** MM is missing from the table because the values are not numerical

This can be good for a quick look but most likely you will not need all these stats on aall the variables - if you were producing a report for an assignment (or a client) you would want to customize the table

### Custom table

`df.agg({'columname':['mean', 'std', 'count']})`

You can create a table with the just the stats you need using the function `df.agg()`

This is not essential (although it does look nice in a report) - the syntax is a bit fiddly but you can copy from this example which gives the mean and standard deviation for <tt>Tmin</tt> and <tt>Tmax</tt>:

In [47]:
# get mean and sd for Tmin and Tmax
weather.agg({'Tmin':['mean', 'std'], 'Tmax':['mean', 'std']})

          Tmin       Tmax
mean  6.156018  13.890153
std   5.235341   6.490258

Finally, instead of doing that for the whole dataframe `weather`, you can select rows using `df.query()` as before:

In [49]:
# get mean and sd for Tmin and Tmax in June
weather.query('MM == 6').agg({'Tmin':['mean', 'std'], 'Tmax':['mean', 'std']})

           Tmin       Tmax
mean  10.328291  20.011487
std    2.664211   3.585932