# Movie data

The file 'MovieProfits.csv' contains data on 609 movies from the years 2008-2012, from the website rottentomatoes.com


For each Movie we have some information including: 
<ul>
    <li> The gross box office turnover (US Gross) in millions of dollars
    <li> The budget for making the movie, in millions of dollars
    <li> The duration or run time of the movie
    <li> The critics' score out of 100%
</ul>

You will complete a series of data analysis tasks as instructed in the questions below.

You will receive an overall grade from your tutor.

Each question-part carries roughly equal weight.

        
### Set up Python libraries

As usual, run the code cell below to import the relevant Python libraries

In [62]:
# Set-up Python libraries - you need to run this but you don't need to change it
import numpy as np
import matplotlib.pyplot as plt
import scipy.stats as stats
import pandas 
import seaborn as sns
sns.set_theme()
sns.set_style('whitegrid')

### Import and view the data

In [63]:
movies=pandas.read_csv('https://raw.githubusercontent.com/jillxoreilly/StatsCourseBook/main/data/MovieProfits.csv')
movies

,Year,Movie,US Gross ($M),Budget ($M),Run Time (min),Critic Score (Rotten Tomatoes)
0,2012,Django Unchained,162.805434,100.0,165,88
1,2012,Parental Guidance,77.264926,25.0,105,18
2,2012,The Impossible,19.019882,40.0,114,81
3,2012,Jack Reacher,80.070736,60.0,130,61
4,2012,This is 40,67.544505,35.0,134,51
...,...,...,...,...,...,...
604,2008,Mad Money,20.688843,22.0,104,22
605,2008,27 Dresses,76.808654,30.0,111,41
606,2008,Cloverfield,80.048433,25.0,85,77
607,2008,In the Name of the King: A Dungeon Siege Tale,4.775656,60.0,127,4
608,2008,One Missed Call,26.890041,20.0,87,0

#### a) Find and remove outliers

There are some erroneous values in the columns 'Year' and 'Run Time (min)'. 
<ul>
    <li>Find these and replace them with NaNs.
    <li>Briefly justify (in the text box below) which values you considered erroneous
</ul>

In [65]:
# Your code here to replace erroenous values with NaNs
# No need to show your working

[ your comments here]

#### b) Plot the relationship between Budget and Gross Turnover

<ul>
    <li> Create a scatterplot showing the relationship between Budget and Gross Turnover
    <li> Add the line x=y so we can see which movies made a profit and which made a loss
</ul>

In [54]:
# make a scatterplot

# add the line x=y so we can see which movies made a profit and which made a loss

#### c) Comment on the plot made in (b)
<ul>
    <li> Do movies with a higher budget have a higher gross turnover?
    <li> Do all movies make a profit or do some make a loss?
    <li> Comment on anything else you notice about the data distribution
</ul>
Support your answer with descriptive statistics where appropriate

In [55]:
# supporting calculations

[ your comments here ]

#### d) Is there a correlation between Budget and Gross Turnover?

<ul>
<li>Calculate the correlation coefficient
<li>Briefly justify your choice of correlation method
</ul>

In [32]:
# your code here for the correlation

0.6084125250514073

[ your comments here]

#### e) Add a column to the dataframe for 'Profit ($M)'
 ... Where profit is defined as Gross Turnover minus Budget

In [57]:
# Your code here to add the column ['Profit ($M)']

# Display the dataframe with the new column included

#### f) What is the relationship between Budget and Profit

<ul>
<li> Create a scatterplot for Budget vs Profit
<li> Calculate the correlation between Budget and Profit using both Pearson's and Spearman's correlation coefficient. 
    <ul> 
        <li>Comment on the difference in results and why it might occur
        <li> Which approach is more appropriate and why?
    </ul>
</ul>

In [58]:
# Your code here for the scatterplot

In [59]:
# Your code here for the correlations

[ your comments here ]

#### g) Add a column containing Profit per $ of budget

This should be defined as Profit/Budget

In [60]:
# Your code here to add the column ['Profit ($M)']

#### i) Plot histograms of profit per dollar budget

Create three histograms containing the distribution of profit per dollar budget for:
<ul>
<li> All movies
<li> Movies with a budget below \$50M
<li> Movies with a budget above \$100M
</ul>
Make them as three subplots in a single figure to keep things tidy

In [61]:
plt.figure(figsize=[15,5]) # set figure size

# Your code here

#### j) 95% confidence interval for the mean profit per dollar

Create a bootstrapped confidence interval for the mean profit per dollar, separately for 
<ul>
    <li> Movies with a budget below \$50M
    <li> Movies with a budget above \$100M
</ul>

In [51]:
#### Your code here for the 95% confidence interval: Movies with a budget below $50M 
nReps = 10000
m = # your code here
n = # your code here

for i in range(nReps):
    sample=# your code here
    m[i]=# your code here
    
print('95% CI: [' + str(np.quantile(m, 0.025)) + ',' + str(np.quantile(m, 0.975)) + ']')

95% CI: [1.0132826583131334,1.9148265630973411]

In [52]:
#### Your code here for the 95% confidence interval: Movies with a budget above $100M 
nReps = 10000
m = # your code here
n = # your code here

for i in range(nReps):
    sample=# your code here
    m[i]=# your code here
    
print('95% CI: [' + str(np.quantile(m, 0.025)) + ',' + str(np.quantile(m, 0.975)) + ']')

95% CI: [0.006456949418855058,0.24922863184764985]

#### k) Comment on the confidence intervals obtained in the previous question.

The mean is also called the expected value - so the mean profit per dollar is also the expected profit per dollar (if we were to make a new movie). 

<ul>
<li>Is the expected profit per dollar higher for low- or high- budget movies?
<li>Is the expected profit per dollar more uncertain/variable for low- or high- budget movies?
</ul>

[ your comment here ]