# Spearman's Rank Correlation

In Chapter 1: Describing Data we looked at Spearman's Rank correlation coefficient, which is a robust correlation based on ranks.

**If you are unsure about correlation coefficients, please revisit the page on correlation in Chapter 1: Describing Data**

In this section on rank-based tests, we revisit Spearman's $r$ and see how to get a $p$-value for it using `scipy.stats`

The reasons for using Spearman'srank correlation rather than Pearson's correlation are recapped there.

In [18]:
# Set-up Python libraries - you need to run this but you don't need to change it
import numpy as np
import matplotlib.pyplot as plt
import scipy.stats as stats
import pandas as pd
import seaborn as sns
sns.set_theme(style='white')
import statsmodels.api as sm
import statsmodels.formula.api as smf

## Load the data

Let's use the CO2 data discussed in the section on correlation in Chapter 1: Describing Data. The dataset contains GDP (weath) and carbon emissions per person for 164 countries.

In [6]:
carbon = pd.read_csv('https://raw.githubusercontent.com/jillxoreilly/StatsCourseBook_2024/main/data/CO2vGDP.csv')
carbon

         Country     CO2           GDP  population
0    Afghanistan  0.2245   1934.555054    36686788
1        Albania  1.6422  11104.166020     2877019
2        Algeria  3.8241  14228.025390    41927008
3         Angola  0.7912   7771.441895    31273538
4      Argentina  4.0824  18556.382810    44413592
..           ...     ...           ...         ...
159    Venezuela  4.1602  10709.950200    29825652
160      Vietnam  2.3415   6814.142090    94914328
161        Yemen  0.3503   2284.889893    30790514
162       Zambia  0.4215   3534.033691    17835898
163     Zimbabwe  0.8210   1611.405151    15052191

[164 rows x 4 columns]

## Calculating correlation

We have seen that we can get the correlation ($r$-value) between all pairs of columns using a `pandas` function `df.corr()` as follows:

In [15]:
carbon.corr(numeric_only=True, method='spearman')

                 CO2       GDP  population
CO2         1.000000  0.914369   -0.098554
GDP         0.914369  1.000000   -0.122920
population -0.098554 -0.122920    1.000000

Or between two particular columns like this:

In [16]:
carbon.GDP.corr(carbon.CO2, method='spearman')

0.9143688871356085

However, the `pandas` function `df.corr()` doesn't calculate the significance of the correlation. We could calculate it using a permutation test (as last week) but we can also use a built in function from `scipy.stats`, called `stats.spearmanr`

In [11]:
stats.pearsonr(carbon.GDP, carbon.CO2)

PearsonRResult(statistic=0.7952137550860006, pvalue=4.934862845707976e-37)

This gives us the correlation coefficient $r=0.79$ (which is a very strong correlation) and the $p$-value $4.9 \times 10^{-37}$ (it is highliy significant)